cmake
numpy
opencv-python
opencv-contrib-python
tensorflow
tensorflow-gpu
keras
sklearn
matplotlib
pyautogui
secure-smtplib
urllib3
googlemaps
gps
imutils
keyboard
mouse
numba
pandas
pillow
pipwin
pyttsx3
SpeechRecognition
scipy
twilio
winshell
h5py==2.10.0
